<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Force</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Fire Force</h1>
    <p>by: <a href="https://en.wikipedia.org/wiki/Atsushi_Ohkubo">Otsushi Okubo</a></p>
    <hr>
    <h2>Summary</h2>
    <p> 
        The story is about characters in a world where <br>
        people spontaneously conbust into flames. <br>
    </p>
    <hr>
    <h2>Characters:</h2>
    <h3>Shinra Kusakabe</h3>
    <img src="/img/shinra.png" alt="">
    <p> *Summary </p>
    <h3>Arthur Boyle</h3>
    <img src="/img/Arthur.png" alt="">
    <p> *Summary </p>
</body>
</html>