<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>This is my anime list </h1>
    <img src="/img/image (7).png" alt="">
    <hr>
    <p> 
        My Anime List:
        <a href="https://myanimelist.net"> Site</a>
    </p>
    
    <a href="/fireforce.html">Fire Force</a> <br>

    <a href="/404.html"> This doesn't exist</a>
    
</body>
</html>